html,body{
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.navbar{
  background: transparent;
  justify-content: center;

}

.col{
  padding: 25px;
  justify-content: center;
}

#artist_name{
  text-align: center;
  font-size: 2.5vmax;
  color: white;
}

img{
  margin: 25px;
}

#icons{
  display: flex;
  justify-content: center;
  padding: 25px;
}

.navbar-nav > li{
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Oswald', sans-serif;
}
 
.navbar .navbar-collapse {
  font-size: 30px;
}

#name{
  text-align: center;
  font-size: 11vw;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Oswald', sans-serif;
}

.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

img.art_image{
  justify-content: center;
  max-width: 80%;
  height: auto;
}

img.artist_image:hover .text {
  opacity: 1;
}