html,body{
    background-color: black !important;
    height: 100%;

}

.bg {
  /* The image used */
  background-image: url("background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  background-color: black;
  justify-content: center;

}

.col{
  padding: 25px;
  justify-content: center;
}

#artist_name{
  text-align: center;
  font-size: 2.5vmax;
  color: white;
}

img{
  padding: 10px;
}

#icons{
  display: flex;
  justify-content: center;
  padding: 25px;
}

.navbar-nav > li{
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Oswald', sans-serif;
}
 
.navbar .navbar-collapse {
  font-size: 30px;
}

#name{
  text-align: center;
  font-size: 11vw;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Oswald', sans-serif;
}