html,body{
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.navbar{
  background: rgb(0, 0, 0);
  justify-content: center;
  justify-items: center;
  padding: 0px;

}

#artist_name{
  text-align: center;
  font-size: 2.5vmax;
  color: white;
}

#slogan{
text-align: center;
font-size: 3vmax;
color: white;
padding-top: 0px;
padding-bottom: 25px;

}

.icons{
  justify-content: center ;
  padding: 5%;
  margin: 1%;
}

.navbar-nav > li{
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Oswald', sans-serif;
}
 
.navbar .navbar-collapse {
  font-size: 20px;
  padding: 0px;
}

#name{
  text-align: center;
  font-size: 11vw;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Oswald', sans-serif;
}


.art_image{
  display: block;
  width: 80%;
  height: auto;
  justify-items: center;

}

.text{
  color: white;
  font-size: 2vmax;
  font-family: 'Ramabhadra', sans-serif;
}

.footer{

  background-color: black;

}

.foot-text{

  padding-bottom: 25px;
  text-align: center;
  color: white;
}

.col{
  padding: 15px;
}

.artist_box{
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 10%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 2fr));

}

@media only screen and (max-width: 600px){
  .grid{
    display: grid;
    grid-template-columns:  repeat(1, minmax(250px, 2fr));
    color: white;
  }
}
