html,body{
  background: url('assets/background2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  margin: 0;



}

.navbar{
  background: rgb(0, 0, 0);
  justify-content: center;
  justify-items: center;
  padding: 0px;

}

#artist_name{
  text-align: center;
  font-size: 2.5vmax;
  color: white;
}

#slogan{
  text-align: center;
  font-size: 4vmax;
  color: white;
  padding-top: 100px;
  padding-bottom: 5%;
  font-family: 'Oswald', sans-serif;

}

.contact{
  display: grid;
  justify-content: center;
  justify-items: center;
  font-size: 5vh;
  color: white;
}

.contact_text{
  justify-content: center;
  font-size: 2vmax;
  text-align: center;
  font-family: 'Ramabhadra', sans-serif;
}


.icons{
  justify-content: center ;
  padding: 5%;
  margin: 1%;
}

.navbar-nav > li{
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Oswald', sans-serif;
}
 
.navbar .navbar-collapse {
  font-size: 20px;
  padding: 0px;
}

#name{
  text-align: center;
  font-size: 11vw;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: 'Oswald', sans-serif;
}



.art_image{
  display: block;
  width: 80%;
  height: auto;
  justify-items: center;

}

.text{
  color: white;
  font-size: 2vmax;
  font-family: 'Ramabhadra', sans-serif;
}

.footer{
  display: absolute;
  bottom:0;
  width:100%;
  height: 50px;
  /* margin-top: -50px; */
  line-height: 60px;

  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; */

  background-color: transparent;

}

.foot-text{

  padding-bottom: 25px;
  text-align: center;
  color: white;
}

.col{
  padding: 15px;
}

.artist_box{
  display: grid;
  padding-top: 25%;
  justify-content: center;
  justify-items: center;

}

.grid{

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(250px, 2fr));
  grid-gap: 0px;
  padding-left: 25%;
  padding-right: 25%;

}

@media only screen and (max-width: 600px){
  .grid{
    display: grid;
    grid-template-columns:  repeat(1, minmax(250px, 2fr));
    color: white;
  }

}

.soundcloud{
  justify-content: center;
}

iframe{
  display: flex;
  margin-bottom: 10%;
  margin-left: auto;   /* Automatic margin from left */
  margin-right: auto; /* Automatic margin from right */
}

.about_sec{
  font-family: 'Oswald', sans-serif;

  display: flex;
  margin: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

}

#about-text{
  padding-top: 50px;
  font-family:'Ramabhadra', sans-serif;
}
